# Byte-compiled / optimized / DLL files
/data/
/.idea/
/archive/
/src/test.py
/output/
/plot_src/
/tensorboard_log/
/pred_out/
/nohup_log/
/src/ningbo/*
*_ningbo.py
__pycache_
*.py[cod]
.DS_Store
*.out
*.txt
*.pdf
*.png
*.sh
*.zip